{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}Store{% endblock %}
{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/deals.css' %}">
{% endblock %}

{% block body %}
    <div class="scroll">
        <div class="container items">
         <div class="container">
             
                <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">On Sale</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                </div>

              <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                </div>

              <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"></div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer">Manufacturer:</div>
                        <div class="panel-footer">Model:</div>
                        <div class="panel-footer">Price:</div>
                        <div class="panel-footer"><a href="" class="btn btn-success btn-lg btn-block">Purchase</a></div>
                    </div>
                  
        </div><br>
    </div>
    </div>


    <footer class="container-fluid text-center footer">
        <p>Online Store Copyright</p>
        <div class="container">
            <div class="row greeting">
                <div class="col-sm-3">
                    <ul>
                        <li class="heading">Get to Know Us</li>
                        <li>Careers</li>
                        <li>About Machine Guts</li>
                        <li>Investor Relations</li>
                        <li>Machine Guts Devices</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                 <ul>
                     <li class="heading">Make Money with Us</li>
                     <li> Sell on Machine Guts</li>
                     <li>Sell your Services on Machine Guts</li>
                     <li>Sell your apps on Machine Guts</li>
                     <li>Become an Affiliate</li>
                     <li>Advertise  your produts</li>
                     <li>Self-publish with Us</li>
                     <li>Become an Machine Guts Vendor</li>
                 </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li class="heading">Machine Guts Products</li>
                        <li>Machineguts.com Rewards Visa Card</li>
                        <li>Machineguts.com Store Card</li>
                        <li>Machineguts.com Corporate Credit Line</li>
                        <li>Shop with Points</li>
                        <li>Shop with Points</li>
                        <li>Credit Card Marketplace</li>
                        <li>Reload Your Balance</li>
                    </ul>
               </div>
                <div class="col-sm-3">

                 <ul>
                     <li class="heading">Let Us Help You</li>
                     <li>Your Account</li>
                     <li>Your Orders</li>
                     <li>Shipping Rates and Policies</li>
                     <li>Amazon Prime</li>
                     <li>Returns and Replacements</li>
                     <li>Manage Your Content and Devices</li>
                     <li>Machine Guts Assistant</li>
                     <li>Help</li>
                 </ul>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}
