{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/index.css' %}">
{% endblock %}

{% block body %}
<!--header-->
<div class="jumbotron">
  <h1>Machine Guts</h1>
  <h4>Your  First And last stop for all your computer needs</h4>
</div>
    <p>To be filled later with more content...</p>

<footer class="container-fluid text-center footer">
  <p>Online Store Copyright</p>  
  <div class="container">
    <div class="row greeting">
        <div class="col-sm-3">          
            <ul>
                <li class="heading">Get to Know Us</li>
                <li>Careers</li>
                <li>About Machine Guts</li>
                <li>Investor Relations</li>
                <li>Machine Guts Devices</li>
            </ul>
        </div>
        <div class="col-sm-3">
         <ul>
             <li class="heading">Make Money with Us</li>
             <li> Sell on Machine Guts</li>
             <li>Sell your Services on Machine Guts</li>
             <li>Sell your apps on Machine Guts</li>
             <li>Become an Affiliate</li>
             <li>Advertise  your produts</li>
             <li>Self-publish with Us</li>
             <li>Become an Machine Guts Vendor</li>
         </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                <li class="heading">Machine Guts Products</li>
                <li>Machineguts.com Rewards Visa Card</li>
                <li>Machineguts.com Store Card</li>
                <li>Machineguts.com Corporate Credit Line</li>
                <li>Shop with Points</li>
                <li>Shop with Points</li>
                <li>Credit Card Marketplace</li>
                <li>Reload Your Balance</li>
            </ul>
       </div>
        <div class="col-sm-3">
         
         <ul>
             <li class="heading">Let Us Help You</li>
             <li>Your Account</li>
             <li>Your Orders</li>
             <li>Shipping Rates and Policies</li>
             <li>Amazon Prime</li>
             <li>Returns and Replacements</li>
             <li>Manage Your Content and Devices</li>
             <li>Amazon Assistant</li>
             <li>Help</li>
         </ul>

        </div>
    </div>
    </div>
</footer>

{% endblock %}
