{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/register.css' %}">
{% endblock %}

{% block body %}
    {#    <div class="container center">#}
    {#        <div class="container-fluid">#}
    {#            <section class="container">#}
    {#                <div class="container-page">#}
    {#                    <div class="col-md-6">#}
    {#                        <h3 class="dark-grey">Registration</h3>#}
    {##}
    {#                        <div class="form-group col-lg-12">#}
    {#                            <label>Username</label>#}
    {#                            <input type="text" name="" class="form-control" id="" value="">#}
    {#                        </div>#}
    {##}
    {#                        <div class="form-group col-lg-6">#}
    {#                            <label>Password</label>#}
    {#                            <input type="password" name="" class="form-control" id="" value="">#}
    {#                        </div>#}
    {##}
    {#                        <div class="form-group col-lg-6">#}
    {#                            <label>Repeat Password</label>#}
    {#                            <input type="password" name="" class="form-control" id="" value="">#}
    {#                        </div>#}
    {##}
    {#                        <div class="form-group col-lg-6">#}
    {#                            <label>Email Address</label>#}
    {#                            <input type="email" name="" class="form-control" id="" value="">#}
    {#                        </div>#}
    {##}
    {#                        <div class="form-group col-lg-6">#}
    {#                            <label>Repeat Email Address</label>#}
    {#                            <input type="email" name="" class="form-control" id="" value="">#}
    {#                        </div>#}
    {##}
    {##}
    {#                    </div>#}
    {##}
    {#                    <div class="col-md-6">#}
    {#                        <h3 class="dark-grey">Terms and Conditions</h3>#}
    {#                        <p>#}
    {#                            By clicking on "Register" you agree to The Company's' Terms and Conditions#}
    {#                        </p>#}
    {#                        <p>#}
    {#                            While rare, prices are subject to change based on exchange rate fluctuations -#}
    {#                            should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)#}
    {#                        </p>#}
    {#                        <p>#}
    {#                            Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)#}
    {#                        </p>#}
    {#                        <p>#}
    {#                            Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)#}
    {#                        </p>#}
    {##}
    {#                        <button type="submit" class="btn btn-primary">Register</button>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </section>#}
    {#        </div>#}
    {#    </div>#}

    <div class="container contain">
        <div id="title">Register Here</div>
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %}<p>{{ errors.fuckthis }} </p>{% endcomment %}
            <div class="form-group">
                {% if errors.username_error %}
                    <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ errors.username_error }}</span>
                    </div>
                {% endif %}
                <label for="pwd">Username:</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ data.username }}">
            </div>
            <div class="form-group">
                {% if errors.email_error %}
                    <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ errors.email_error }}</span>
                    </div>
                {% endif %}
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ data.email }}">
            </div>

            <div class="form-group">
                {% if errors.email_confirm_error %}
                    <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ errors.email_confirm_error }}</span>
                    </div>
                {% endif %}
                <label for="email">Confirm Email address:</label>
                <input type="email" class="form-control" id="email" name="email_confirm" value="{{ data.email_confirm }}">
            </div>
            <div class="form-group">
                {% if errors.password_error %}
                    <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ errors.password_error }}</span>
                    </div>
                {% endif %}
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password">
            </div>
            <div class="form-group">
                {% if errors.password_confirm_error %}
                    <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ errors.password_confirm_error }}</span>
                    </div>
                {% endif %}
                <label for="pwd">Confirm Password:</label>
                <input type="password" class="form-control" id="pwd" name="password_confirm">
            </div>
            <div class="button-wrapper">
                <button type="submit" class="btn btn-success btn-lg btn-block">Register</button>
            </div>
        </form>
    </div>

{% endblock %}


